.row-detail {
	display: flex;
	flex-direction: row;
}

.rate-row>* {
	margin-right: 3px;
}

.size {
	margin: 5px;
	margin-right: 10%;
	margin-bottom: 8%;
}

.size h4 {
	font-size: 16px;
	margin-bottom: 10px;
}

.size ul {
	list-style: none;
	padding: 0;
}

.size li {
	display: inline-block;
	margin-right: 10px;
}

.size a {
	text-decoration: none;
	padding: 8px 12px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	color: #333;
	transition: background-color 0.3s;
}

.size a:hover {
	background-color: #f0f0f0;
}

.size .one {
	color: #3498db;
}

.size .selected {
	background-color: #03cafc;
	color: rgb(255, 255, 255);
}

.quantity {
	margin: 5px;
}

.quantity h4 {
	font-size: 16px;
	margin-bottom: 10px;
}

.quantity .input-group {
	display: flex;
	align-items: center;
}

.quantity .input-number {
	width: 30px;
	text-align: center;
	margin: 0 2px;
}

.quantity .btn-number {
	padding: 4px;
	background-color: #03cafc;
	color: #fff;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.quantity .btn-number:hover {
	background-color: #4b4b4c;
}

.thumbnail-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.thumbnail {
    width: 20.5%;
    height: 20%;
    cursor: pointer;
    padding: 0px 9.2px 0px 0px;
}

.white-box {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.white-background {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid #ccc; /* Add a border to the container */
    border-radius: 8px; /* Optional: Add border radius for a rounded container */
    position: relative; /* Set position to relative for proper positioning of the icon */
}

.borderless-container {
    border: none; /* Remove border from the container */
}

.exit-button {
    background: none;
    border: none;
    position: absolute;
    padding: 0;
    cursor: pointer;
}

.exit-button i {
    color: #555; /* Grey color for the "X" icon */
    font-size: 24px; /* Adjust icon size as needed */
}

.exit-button:hover i {
    color: #333; /* Darker grey on hover */
}

.dropdown-content-paycart {
  display: none;
}

.dropdown-toggle.active + .dropdown-content-paycart {
  display: block;
}

.btn:hover {
	background: #4b4b4c;
	transition: ease-in all 0.5s;
}

.btn-text-center {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
}


/** Alert **/
.custom-alert {
    position: fixed;
    background-color: #ffffff;
    padding: 20px;
    border: 2px solid #3498db;
    border-radius: 5px;
    text-align: center;
    display: none;
    z-index: 9999;
}

