<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
	<meta charset="utf-8">
	<!-- mobile metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<!-- site metas -->
	<title>Thông tin - Mena Shop</title>
	<link rel="stylesheet" href="CSS/CSS-Ind/bootstrap.min.css">
	<link rel="stylesheet" href="CSS/CSS-Ind/style.css">
	<link rel="stylesheet" href="CSS/CSS-Ind/responsive.css">
	<link rel="stylesheet" href="CSS/CSS-Ind/jquery.mCustomScrollbar.min.css">
	<link rel="stylesheet" href="CSS/util.css">
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
		media="screen">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
   </head>
   <!-- body -->
   <body class="main-layout position_head">
      <!-- end loader -->
      <!-- header -->
      <header class="m-b--80">
		<!-- header inner -->
		<div class="header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
						<div class="full">
							<div class="center-desk">
								<div class="logo" style="width: 100%;">
									<a href="/home"> <img src="images/images/logoshop.png" alt="#"  style="width: 45%;"/></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
						<nav class="navigation navbar navbar-expand-md navbar-dark">
							<button class="navbar-toggler" type="button" data-toggle="collapse"
								data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false"
								aria-label="Toggle navigation">
								<span class="navbar-toggler-icon" style="position: relative; top: -10px;">
									<i class="fas fa-bars" style="color: #03cafc;"></i>
								</span>
							</button>
							<div class="collapse navbar-collapse" id="navbarsExample04">
								<ul class="navbar-nav mr-auto">
									<li class="nav-item">
										<a class="nav-link" href="home">Home</a>
									</li>
									<li class="nav-item active">
										<a class="nav-link" href="shop">Shop</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="contact">Contact Us</a>
									</li>
									<li class="nav-item" sec:authorize="!isAuthenticated()">
										<a class="nav-link" href="login">Login</a>
									</li>
									<li class="nav-item" sec:authorize="isAuthenticated()">
										<form th:action="@{/logout}" method="post">
											<button type="submit" class="nav-link" style="background-color: transparent;">Logout</button>
										</form>
									</li>
									<li class="nav-item dropdown sea_icon">
										<a class="nav-link" href="#" role="button" data-toggle="dropdown"
											aria-haspopup="true" aria-expanded="false">
											<i class="fa fa-shopping-bag" id="cartIcon" aria-hidden="true"></i>
											<span id="cartItemCount" class="badge badge-pill badge-danger"
												style="position: absolute; bottom: 8px; left: 6px; font-size: 10px;"
												sec:authorize="isAuthenticated()"
												th:text="${soLuongSanPham}"></span>
											<i class="m-l-30 fa fa-user" id="infUserIcon" aria-hidden="true"></i>
										</a>
									</li>
								</ul>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</header>
      <!-- end header inner -->
      <!-- end header -->
      <!-- Our shop section -->
      <div id="about" class="shop m-b-10">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-5">
                  <div  class="shop_img">
                     <figure><img src="images/images/intropicture-01.jpeg" alt="#"/></figure>
                  </div>
               </div>
               <div class="col-md-7 padding_right0">
                  <div class="max_width">
                     <div class="titlepage">
                        <h2>Best SunGlasses  At Our shop</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
                        <a class="read_more" href="#">Shop Now</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end Our shop section -->
      <!--  footer -->
      <footer>
         <div class="footer">
            <div class="container">
               <div class="row">
                  <div class="col-md-8 offset-md-2">
                     <ul class="location_icon">
                        <li><a href="#"><i class="fa fa-map-marker"
									aria-hidden="true"></i></a><br>Hoa Thanh - Tay Ninh</li>
							<li><a href="#"><i class="fa fa-phone"
									aria-hidden="true"></i></a><br> +84328149120</li>
							<li><a href="#"><i class="fa fa-envelope"
									aria-hidden="true"></i></a><br>nghia.nt1002@gmail.com</li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="copyright">
            </div>
         </div>
      </footer>
      <!-- end footer -->
      
	<!-- Javascript files-->
	<script src="js/js-Ind/jquery.min.js"></script>
	<script src="js/js-Ind/popper.min.js"></script>
	<script src="js/js-Ind/bootstrap.bundle.min.js"></script>
	<script src="js/js-Ind/jquery-3.0.0.min.js"></script>
	<!-- sidebar -->
	<script src="js/js-Ind/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="js/js-Ind/custom.js"></script>
	<script src="js/js-task/task.js"></script>

  </body>
</html>