<!DOCTYPE html>
<html lang="en">

<head>
	<!-- basic -->
	<meta charset="utf-8">
	<!-- mobile metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<!-- site metas -->
	<title>Thống kê - Mena Shop</title>
	<link rel="stylesheet" href="CSS/CSS-Ind/bootstrap.min.css">
	<link rel="stylesheet" href="CSS/CSS-Ind/style.css">
	<link rel="stylesheet" href="CSS/CSS-Ind/responsive.css">
	<link rel="stylesheet" href="CSS/CSS-Ind/jquery.mCustomScrollbar.min.css">
	<link rel="stylesheet" href="CSS/util.css">
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
		media="screen">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<!-- body -->

<body class="main-layout position_head">
	<!-- end loader -->
	<!-- header -->
	<header class="m-b--80">
		<!-- header inner -->
		<div class="header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
						<div class="full">
							<div class="center-desk">
								<div class="logo" style="width: 100%;">
									<a href="/home"> <img src="images/images/logoshop.png" alt="#"  style="width: 45%;"/></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
						<nav class="navigation navbar navbar-expand-md navbar-dark">
							<button class="navbar-toggler" type="button" data-toggle="collapse"
								data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false"
								aria-label="Toggle navigation">
								<span class="navbar-toggler-icon" style="position: relative; top: -10px;">
									<i class="fas fa-bars" style="color: #03cafc;"></i>
								</span>
							</button>
							<div class="collapse navbar-collapse" id="navbarsExample04">
								<ul class="navbar-nav mr-auto">
									<li class="nav-item">
										<a class="nav-link" href="home">Home</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="shop">Shop</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="contact">Contact Us</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="login">Login</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">Logout</a>
									</li>
									<li class="nav-item dropdown sea_icon">
										<a class="nav-link" href="#" role="button" data-toggle="dropdown"
											aria-haspopup="true" aria-expanded="false">
											<i class="fa fa-shopping-bag" id="cartIcon" aria-hidden="true"></i>
											<span id="cartItemCount" class="badge badge-pill badge-danger"
												style="position: absolute; bottom: 8px; left: 6px; font-size: 10px;"
												sec:authorize="isAuthenticated()"
												th:text="${soLuongSanPham}"></span>
											<i class="m-l-30 fa fa-user" id="infUserIcon" aria-hidden="true"></i>
										</a>
									</li>
								</ul>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- end header inner -->
	<!-- end header -->
	<div id="contact" class="contact">
		<div class="container">
			<div class="container">
				<div class="main-body">

					<!-- Breadcrumb -->
					<nav aria-label="breadcrumb" class="main-breadcrumb">
						<div class="breadcrumb">
							<li class="breadcrumb-item"><a href="information">&#x2B05; User Information</a></li>
							<li class="breadcrumb-item active" aria-current="page">Statistical Oder</li>
						</div>
					</nav>
					<!-- /Breadcrumb -->

					<!-- Choose list -->
					<div class="row m-b-15 m-l-10">
						<div class="col-sm-6">
							<label class="fs-15" for="datepicker">Chọn ngày:</label>
							<input type="date" id="datepicker" name="datepicker" class="m-l-5">
							<a class="btn btn-info" href="javascript:void(0)" onclick="applyFilter()">Apply</a>
						</div>
					</div>
					<!-- /Choose list -->

					<div class="row gutters-sm">
						<div class="col-md-12">
							<div class="card mb-3">
								<div class="card-body">
									<table id="shoppingCart" class="table table-condensed table-responsive text-center">
										<thead>
											<tr>
												<th style="width:15%;">Day</th>
												<th style="width:10%">Invoice ID</th>
												<th style="width:20%">Product ID</th>
												<th style="width:20%">Price</th>
												<th style="width:20%">Payment</th>
												<th style="width:20%">Status</th>
												<th style="width:10%"></th>
											</tr>
										</thead>
										<tbody th:each="orderlist : ${listOrderItems}">
											<tr>
												<td data-th="date">
													<div th:text="${orderlist.order.date}"></div>
												</td>
												<td data-th="invoiceid" th:text="${orderlist.order.invoiceId}"></td>
												<td data-th="productid" th:text="${orderlist.productId}"></td>
												<td data-th="price" th:text="${orderlist.price} + ' VND'"></td>
												<td data-th="payment" th:text="${orderlist.order.payment}"></td>
												<td data-th="status" th:text="${orderlist.order.status}"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>
	<!-- end contact section -->
	<!--  footer -->
	<footer>
		<div class="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-8 offset-md-2">
						<ul class="location_icon">
							<li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i></a><br>Hoa Thanh - Tay
								Ninh</li>
							<li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i></a><br> +84328149120</li>
							<li><a href="#"><i class="fa fa-envelope"
										aria-hidden="true"></i></a><br>nghia.nt1002@gmail.com</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="copyright">
			</div>
		</div>
	</footer>
	<!-- end footer -->
	
	<!-- Javascript files-->
	<script src="js/js-Ind/jquery.min.js"></script>
	<script src="js/js-Ind/popper.min.js"></script>
	<script src="js/js-Ind/bootstrap.bundle.min.js"></script>
	<script src="js/js-Ind/jquery-3.0.0.min.js"></script>
	<!-- sidebar -->
	<script src="js/js-Ind/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="js/js-Ind/custom.js"></script>
	<script src="js/js-task/task.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	
	<script>
		// Filter
		function applyFilter() {
			// Lấy giá trị của trường input date
			var selectedDate = document.getElementById("datepicker").value;
			var formattedDate = moment(selectedDate).format('DD-MM-YYYY');
			// Tạo một đối tượng XMLHttpRequest
			var xhr = new XMLHttpRequest();
			if (selectedDate) {
				// Xác định phương thức và URL của yêu cầu
				var url = "/statistical?selectedDate=" + formattedDate; // Điều chỉnh URL của bạn tùy theo cấu trúc URL của ứng dụng của bạn
				xhr.open("GET", url, true);

				// Xử lý sự kiện khi yêu cầu hoàn thành

				// Gửi yêu cầu đến server
				xhr.send();
				window.location.href = url;
			} else {
				Swal.fire({
					icon: 'error',
					title: 'Error',
					text: 'Vui lòng chọn ngày trước khi nhấn Apply!'
				});
			}
		}
	</script>

</body>
</html>